ion-content{
  color:black;
}
ion-col{
  text-align:center;
  padding:5%;
}
.line{
  width:100%;
  background:black;
  height:2px;
}
.vLine {
  border: 1px solid black;
  height: 50px;
  margin-left: 5%;
}
ion-card{
  width:100%;
}
.btn{
  background:red;
}
.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}