.btn-service {
    height: inherit;
    width: 20%;
    margin: 5px;
  }
.img-service {
    width: 50px;
    margin-right: auto;
    margin-left: auto;
  }
  .lbl-service {
    font-size: 10px;
    text-align: center;
    margin-right: 0;
    color: #626360;
  }
  .lbl-title {
    text-align: center;
   }